.header-bg {
    background: url(../images/banner-bg.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
    background-position: right;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-section span {
    margin-bottom: 60px;
    display: inline-block;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.header-section h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 46px;
    margin-bottom: 5px;
}

.header-section h4 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bookbtn {
    /* background-image: linear-gradient(to right, #132435 0%, #46767F 51%, #46767F 100%); */
    background: #132435;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 45px;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
    transition: 0.5s;
    text-decoration: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-infobox {
    list-style: none;
    margin: -80px 0 10px 0;
}

.header-infobox li {
    background: #132435;
    min-height: 160px;
    padding: 30px 15px 15px;
    margin: 0 -3px;
    display: inline-block;
    width: calc(100%/4);
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.header-infobox li:nth-child(1) {
    background: #46767F;
}

.header-infobox li:nth-child(2) {
    background: #46767F;
}

.header-infobox li:nth-child(3) {
    background: #46767F;
}

.header-infobox li span {
    font-size: 42px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
}

.header-infobox li p {
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 1rem;
}

.section-space {
    padding: 55px 0;
}

.profile-box {
    padding-top: 20px;
}

.profile-box span {
    display: table;
    margin-bottom: 10px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.profile-title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 45px;
    position: relative;
    padding-bottom: 18px;
    /* padding-top: 41px; */
    font-family: 'Poppins', sans-serif;
}

.profile-title:after {
    content: '';
    left: 0px;
    position: absolute;
    bottom: 0px;
    width: 85px;
    height: 5px;
    display: table;
    background: #46767F;
}

.point-sec {
    text-align: center;
    margin: 20px 0px 40px;
}

.point-sec p {
    font-size: 18px;
    margin: 10px 0px;
}

.testimonial-bg {
    background: url(../images/testi-bg.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.profile-title-center {
    font-size: 38px;
    font-weight: 600;
    display: table;
    margin: 0 auto;
    margin-bottom: 45px;
    position: relative;
    padding-bottom: 18px;
    font-family: 'Poppins', sans-serif;
}

.profile-title-center:after {
    content: '';
    left: 0px;
    right: 0px;
    position: absolute;
    bottom: 0px;
    width: 85px;
    height: 5px;
    margin: 0 auto;
    display: table;
    background: #46767F;
}

.service-boxes {
    padding: 0px;
    list-style: none;
}

.service-boxes li {
    /* display: inline-block; */
    width: calc(100%/3);
    text-align: center;
    margin: 0 -2px;
    padding: 25px 15px 10px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: inline-grid;
}

.service-boxes li h4 {
    font-weight: 600;
    margin: 14px 0 10px;
    position: relative;
    padding-bottom: 25px;
    background: url(../images/our-service-patern.png) no-repeat center bottom;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
}   

.cta-bg {
    background: url(../images/cta-bg-new.jpg) no-repeat right top;
    background-size: cover;
    min-height: 288px;
}

.cta-box {
    background: rgba(255,255,255,.9);
    padding: 18px;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.cta-br {
    border: 3px solid #46767F;
    padding: 10px 10px 18px;
    position: relative;
}

.cta-box span {
    font-size: 40px;
    font-weight: 700;
    display: table;
    line-height: 35px;
    margin: 0 auto 16px;
    font-family: 'Poppins', sans-serif;
    color: #46767F;
}

.cta-box span a {
    text-decoration: none;
    color: inherit;
}

.cta-box .cta-btn {
    background: #132435;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -10px;
    padding: 8px 24px;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
    transition: 0.5s;
    display: table;
    margin: 0 auto -31px;
    text-decoration: none;
}

.address-title {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 35px;
}

.address-sec {
    font-size: 19px;
    list-style: none;
}

.address-sec li {
    line-height: 33px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
}

.address-sec li a {
    color: #212529;
}

.shadow-btm {
    background: url(../images/shadow-img.png) no-repeat center bottom;
    padding: 15px 0 0 0;
    display: inline-block;
    width: 100%;
    margin: 10px 0 10px 0;
}

.address-sec2 {
    font-size: 19px;
    list-style: none;
    padding: 0px;
}

.address-sec2 li {
    line-height: 35px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
}

.address-sec2 li a {    
    color: #212529;
}

footer {
    background: #46767F;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

footer p {
    margin: 0px;
}

.modal-text{
    display: none;
}

@media screen and (max-width:600px) {
    .service-boxes li {
        /* display: inline-block; */
        width: calc(100%);
    };
}

@media screen and  (max-width: 768px){
.header-bg {
    background: url(../images/banner-bg.jpg) no-repeat right -415px top!important;
    min-height: 520px;
}
.header-infobox li {
    width: 100%;
    display: inline-block;
}
}

@media (max-width: 991px){
.header-infobox {
    margin: 50px 0 20px 0;
    margin-left: -30px;
    margin-right: 15px;
}
}